.container {
  width: 200px;
  background-color: purple;
}

.left-side {
  border-color: green;
  border-width: 5pxpx;
  padding: 10px;
  font-size: 20px;
	

}



.heading {
  color: white;
  text-decoration:underline;
}
